.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    position: fixed;
    top: 4rem;
    right: 4rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    z-index: 1001;
    background-color: white;
    box-shadow: 0 3rem 5rem rgba($color: $color-black, $alpha: 0.3);
    cursor: pointer;
  }

  &__background {
    position: fixed;
    width: 6rem;
    height: 6rem;
    top: 4.5rem;
    right: 4.5rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 999;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  }

  &__nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transition: all 0.4s cubic-bezier(0.65, 0, 0.35, 1);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
  }

  &__item {
    margin-bottom: 3.2rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: $color-white;
      font-size: 3.2rem;
      text-transform: uppercase;
      font-weight: 300;
      text-decoration: center;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;

      span {
        margin-right: 1.6rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      font-weight: 350;
      transform: translateX(1.2rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    visibility: visible;
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__icon {
    transition: all 0.1s;
    &,
    &::after,
    &::before {
      display: inline-block;
      position: absolute;
      width: 3rem;
      height: 2px;
      background-color: $color-dark-grey-3;
    }

    &::after,
    &::before {
      content: "";
      right: 0;
      transition: all 0.15s;
    }

    &::after {
      top: 0.8rem;
    }

    &::before {
      top: -0.8rem;
    }
  }
  &__button:hover &__icon-container &__icon::after {
    top: 1rem;
  }

  &__button:hover &__icon-container &__icon::before {
    top: -1rem;
  }

  &__checkbox:checked + &__button &__icon-container &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon-container &__icon::after {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon-container &__icon::before {
    top: 0;
    transform: rotate(-135deg);
  }
}
