.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color: $color-black, $alpha: 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (backdrop-filter: blur(8px)) or (-webkit-backdrop-filter: blur(8px)) {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: rgba($color: $color-black, $alpha: 0.3);
  }

  &__container {
    @include center-item;
    display: table;
    width: 75%;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color: $color-black, $alpha: 0.3);
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__container {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__right {
    display: table-cell;
    width: 66.66667%;
    vertical-align: middle;
    padding: 3.2rem 4.8rem;
    position: relative;
  }

  &__close {
    &:link,
    &:visited {
      display: inline-block;
      position: absolute;
      font-size: 4rem;
      color: $color-dark-grey-2;
      top: 4.8rem;
      right: 6.4rem;
      text-decoration: none;
      transition: all 0.3s;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
    column-count: 2;
    column-gap: 4.8rem;
    column-rule: 2px solid $color-dark-grey-2;

    -moz-column-count: 2;
    -moz-column-gap: 3.2rem;
    -moz-column-rule: 2px solid $color-dark-grey-2;

    hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
  }

  @include setResponsive(forPopup) {
    &__container {
      display: flex;
      flex-direction: column-reverse;
    }

    &__left {
      width: 100%;
      display: flex;
    }

    &__right {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &__right &__btn {
      max-width: 30%;
      display: inline-block;
      padding: 1rem 1.6rem;
      text-align: center;
      word-wrap: break-word;
    }

    &__img {
      display: inline-block;
      width: 50%;
    }

    &__close:visited,
    &__close:link {
      top: 2rem;
    }
  }

  @include setResponsive(phone) {
    &__text {
      font-size: 1.6rem;
      column-count: 1;
      line-height: 1.1;
      margin-bottom: 3.2rem;
    }

    &__heading--secondary {
      font-size: 2.4rem;
      letter-spacing: -0.5px;
    }

    &__heading--tertiary {
      font-size: 2rem;
      letter-spacing: -0.8px;
    }

    &__right &__btn {
      max-width: 60%;
      display: inline-block;
      padding: 1rem 1.6rem;
      text-align: center;
      word-wrap: normal;
    }

    &__left {
      display: block;
    }

    &__img {
      display: block;
      width: 100%;
    }
  }
}
